.container-home {
  display: flex;
}

.content-cards {
  width: calc(100% - 300px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  margin-top: 30px;
  margin-bottom: 30px;
}

.content-form {
  width: 60vw;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-form .input {
  height: 25px;
  border-radius: 5px;
  border: 1px solid #000000;
  font-size: 16px;
  padding: 0 10px 0 10px;
}

.content-form .input:nth-child(1) {
  width: 30%;
}
.content-form .input:nth-child(2) {
  width: 60%;
}

.content-form-date {
  width: 60vw;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-form-date .input-date {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content-form-date div label {
  font-size: 15px;
}

.button-form-search {
  width: 37px;
  height: 37px;
  margin-left: 3px;
  border-radius: 10px;
  background-color: #246992;
  color: #ffffff;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all ease 0.3s;
}

.button-form-search:hover {
  width: 40px;
  height: 40px;
  margin-left: 0;
  background-color: #305a75;
}

.content-filters {
  width: 60vw;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.content-filters span {
  font-size: 14px;
  color: #525252;
}

.button-reset-form {
  font-weight: bold;
  border: solid 1px #525252;
  color: #525252;
  border-radius: 5px;
  padding: 5px;
  transition: all ease 0.3s;
}

.button-reset-form:hover {
  background-color: #d9d9d9;
  color: #000000;
}

.container-spell-words {
  width: calc(100% - 100px);
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
