.container-sidebar {
  width: 300px;
  height: 100vh;
  background-color: #246992;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  position: sticky;
  top: 0;
}

.content-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  margin-top: 20px;
}

.content-logo img {
  width: 90px;
}

.content-logo p {
  width: 120px;
  font-size: 20px;
}

.line {
  width: 280px;
  height: 2px;
  background-color: #ffffff;
}

.content-sidebar-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.content-sidebar-buttons p {
  font-size: 18px;
}

.content-sidebar-buttons button {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  color: #ffffff;
}

.content-sidebar-buttons button:hover {
  background-color: #305a75;
}
